<div class="col-sm-12 bg-warning">
	<a href="#" class="label label-success">HTML5</a>
	<a href="#" class="label label-success">CSS3</a>
	<a href="#" class="label label-success">JAVASCRIPT</a>
	<a href="#" class="label label-success">JQUERY</a>
	<a href="#" class="label label-success">ANGULAR JS</a>
	<a href="#" class="label label-success">RAILS</a>
	<a href="#" class="label label-success">JAVA</a>
	<a href="#" class="label label-success">PHP</a>
</div>