<section class="container">
	<section class="col-sm-12">
		<a href="#" class="btn btn-primary btn-sm">Recent Question</a>
		<a href="#" class="btn btn-success btn-sm">Ask Question</a>
		<a href="#" class="btn btn-info btn-sm">All Question</a>
		<a href="#" class="btn btn-primary btn-sm">Developers</a>
	</section>
	<section class="col-lg-9 col-md-8">
		<h3 class="page-header">All Questions</h3>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
		<section class="all-questions-panel">
			<div class="row">
				<div class="col-sm-12">
					<a href="" class="text-primary">Return from function does not work</a>
				</div>
			</div>
			<div class="row options">
				<div class="col-md-6">
					<a href="#">Answers <span class="badge">452</span></a>
					<span class="views">Views <span class="badge">1654</span></span>
				</div>
				<div class="col-md-6">
					<span class="views text-success">Asked By: </span>
					<a href="#" class="text-primary">Sanjay Rawat</a>
					<span class="text-muted">at : Jan 21, 2016, 15:12</span>
				</div>
			</div>
		</section>
	</section>
	<section class="col-lg-3 col-md-4">
	<!-- TOPIC TAGS ON RIGHT TOP SIDE -->
		<div class="row">
			<%= render 'views/common-layout/toptags' %>
			<!-- <ng-include src="'views/common-layout/_top-right-tags.html'"></ng-include> -->
		</div>
		<div class="row">
			<div class="panel panel-success"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">Popular Questions</h3> 
				</div> 
				<div class="panel-body"> Panel content </div> 
			</div>
		</div>
	</section>
</section>
<div ng-View></div>