
/*Color variables*/
$custom-primary-color: #438EB9;

$light-mehroon: #E9351C;
$light-yellow: #FFC600;
$skyblue-color: #3BADE9;
$light-green: #81D60B;
$light-magenta: #FC3C63;


/*common gap*/
$common-gap: 20px;