
footer{
	background: $gray-dark;
	color: $body-bg;
	padding-bottom: $common-gap*2;
	margin-top: $common-gap*2;

	.social-container{
		margin-top: $common-gap;
		font-size: $font-size-h1;
		overflow: hidden;

		div{
			margin: $padding-xs-vertical 0;
			width: 100%;
    		overflow: hidden;
    		background-color: $gray;
		}

		a{
			@include square($size: 65px);
			padding: $common-gap;
			/*background-color: $gray-darker;*/
			@extend .text-center ;

			.fa{
				color: $body-bg;
			}
		}
		span{
			color: $body-bg;
			font-size: $font-size-h3;
		}
	}
}
