
.jumbotron{
	padding: $padding-large-vertical*2 ;

	.see-all{
		margin-top: $common-gap;
	}
}

.category-tiles{
	margin: $padding-xs-vertical;
	padding: $padding-xs-vertical;

	li{
		display: inline-block;
		padding: $padding-large-vertical*2 ;

		a{
			display: block;
			width: 100%;
			font-size: $font-size-h4*2;
			color: $body-bg;
			text-align: center;
			padding-top: $common-gap;
			min-height: $common-gap*7;
			border: 3px solid $body-bg;
			position: relative;
			font-weight: $close-font-weight;

			&:hover{
				text-decoration:none;
			}

			span{
				position: absolute;
				bottom: $common-gap - 5;
				right: $common-gap - 5;
				font-size: $font-size-h3;
			}
		}
		a.yellow{
		background-color: $light-yellow;
		}	
		a.light-mehroon{
			background-color: $light-mehroon;
		}
		a.skyblue-color{
			background-color: $skyblue-color;
		}
		a.light-green{
			background-color: $light-green;
		}
		a.light-magenta{
			background-color: $light-magenta;
		}
	}
	
}