<section class="col-lg-4 col-md-4">
	<!-- TOPIC TAGS ON RIGHT TOP SIDE -->
		<div class="col-sm-12 tag-section">
			<h4 class="page-header">All Questions</h4>
			<div class="col-sm-12">
				<a href="#" class="label label-success">HTML5</a>
				<a href="#" class="label label-success">CSS3</a>
				<a href="#" class="label label-success">JAVASCRIPT</a>
				<a href="#" class="label label-success">JQUERY</a>
				<a href="#" class="label label-success">ANGULAR JS</a>
				<a href="#" class="label label-success">RAILS</a>
				<a href="#" class="label label-success">JAVA</a>
				<a href="#" class="label label-success">PHP</a>
				<a href="#" class="label label-success">ANGULAR JS</a>
				<a href="#" class="label label-success">RAILS</a>
				<a href="#" class="label label-success">JAVA</a>
				<a href="#" class="label label-success">PHP</a>
			</div>
		</div>
		<div class="col-sm-12 popular-question">
			<div class="panel panel-success"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">Popular Questions</h3> 
				</div> 
				<div class="panel-body">
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">How can I improve air conditioning effectiveness in my old car?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">How to import csv file with some required fields missing?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Can I say "Call it a project" similar to "Call it a day?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Return from function does not work</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Someone who does not like excess</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">How can I improve air conditioning effectiveness in my old car?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">How to import csv file with some required fields missing?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Can I say "Call it a project" similar to "Call it a day?</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Return from function does not work</a>
					</div>
					<div class="popular-question-box">
						<div class="user-img">
							<img class="" src="/assets/user.jpg" alt="Jason's Photo">
						</div>
						<a href="" class="text-primary">Someone who does not like excess</a>
					</div>
				</div> 
			</div>
		</div>
	</section>