
<section class="container">
	<div class="col-lg-4 col-md-4 col-sm-6">
	<h3 class="page-header">About Us</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 hidden-sm hidden-xs">
		<h3 class="page-header">Latest</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<h3 class="page-header">Be Social with us</h3>
	</div>
</section>