
<div class="jumbotron">
  <div class="container hide">
    <div class="row">
      <div class="col-sm-6">
        <h2>Search Questions By Category</h2>
      </div>
      <div class="col-sm-6 text-right">
        <a href="#" class="btn btn-info btn-sm see-all">See All</a>
      </div>
      <div class="col-sm-12">
        <ul class="category-tiles">
          <li class="col-md-3 col-sm-3">
            <a href="#" class="light-mehroon">
              "< / >"
              <span>HTML5</span>
            </a>
          </li>
          <li class="col-md-3 col-sm-3">
            <a href="#" class="skyblue-color">
              {&nbsp;.class&nbsp;}
              <span>CSS3</span>
            </a>
          </li>
          <li class="col-md-3 col-sm-3">
            <a href="#" class="light-green">
              Object={}
              <span>Javascript</span>
            </a>
          </li>
          <li class="col-md-3 col-sm-3">
            <a href="#" class="yellow">
              "( # )"
              <span>Jquery</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>